.HomePage {
    background-image: url(@/assets/images/home/background-home-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 327px;
    height: 788px;
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}