:root {
    --desktop-text-preset-1-font-family: "Bellefair", Helvetica;
    --desktop-text-preset-1-font-size: 144px;
    --desktop-text-preset-1-font-style: normal;
    --desktop-text-preset-1-font-weight: 400;
    --desktop-text-preset-1-letter-spacing: 0px;
    --desktop-text-preset-1-line-height: normal;
    --desktop-text-preset-2-font-family: "Bellefair", Helvetica;
    --desktop-text-preset-2-font-size: 96px;
    --desktop-text-preset-2-font-style: normal;
    --desktop-text-preset-2-font-weight: 400;
    --desktop-text-preset-2-letter-spacing: 0px;
    --desktop-text-preset-2-line-height: normal;
    --desktop-text-preset-3-font-family: "Bellefair", Helvetica;
    --desktop-text-preset-3-font-size: 56px;
    --desktop-text-preset-3-font-style: normal;
    --desktop-text-preset-3-font-weight: 400;
    --desktop-text-preset-3-letter-spacing: 0px;
    --desktop-text-preset-3-line-height: normal;
    --desktop-text-preset-4-font-family: "Bellefair", Helvetica;
    --desktop-text-preset-4-font-size: 32px;
    --desktop-text-preset-4-font-style: normal;
    --desktop-text-preset-4-font-weight: 400;
    --desktop-text-preset-4-letter-spacing: 0px;
    --desktop-text-preset-4-line-height: normal;
    --desktop-text-preset-5-font-family: "Barlow Condensed", Helvetica;
    --desktop-text-preset-5-font-size: 28px;
    --desktop-text-preset-5-font-style: normal;
    --desktop-text-preset-5-font-weight: 400;
    --desktop-text-preset-5-letter-spacing: 4px;
    --desktop-text-preset-5-line-height: normal;
    --desktop-text-preset-6-font-family: "Bellefair", Helvetica;
    --desktop-text-preset-6-font-size: 28px;
    --desktop-text-preset-6-font-style: normal;
    --desktop-text-preset-6-font-weight: 400;
    --desktop-text-preset-6-letter-spacing: 0px;
    --desktop-text-preset-6-line-height: normal;
    --desktop-text-preset-7-font-family: "Barlow Condensed", Helvetica;
    --desktop-text-preset-7-font-size: 14px;
    --desktop-text-preset-7-font-style: normal;
    --desktop-text-preset-7-font-weight: 400;
    --desktop-text-preset-7-letter-spacing: 2px;
    --desktop-text-preset-7-line-height: normal;
    --desktop-text-preset-8-bold-font-family: "Barlow Condensed", Helvetica;
    --desktop-text-preset-8-bold-font-size: 16px;
    --desktop-text-preset-8-bold-font-style: normal;
    --desktop-text-preset-8-bold-font-weight: 700;
    --desktop-text-preset-8-bold-letter-spacing: 2.700000047683716px;
    --desktop-text-preset-8-bold-line-height: normal;
    --desktop-text-preset-8-font-family: "Barlow Condensed", Helvetica;
    --desktop-text-preset-8-font-size: 16px;
    --desktop-text-preset-8-font-style: normal;
    --desktop-text-preset-8-font-weight: 400;
    --desktop-text-preset-8-letter-spacing: 2px;
    --desktop-text-preset-8-line-height: normal;
    --desktop-text-preset-9-font-family: "Barlow", Helvetica;
    --desktop-text-preset-9-font-size: 18px;
    --desktop-text-preset-9-font-style: normal;
    --desktop-text-preset-9-font-weight: 400;
    --desktop-text-preset-9-letter-spacing: 0px;
    --desktop-text-preset-9-line-height: 179.99999523162842%;
    --mobile-text-preset-1-font-family: "Bellefair", Helvetica;
    --mobile-text-preset-1-font-size: 80px;
    --mobile-text-preset-1-font-style: normal;
    --mobile-text-preset-1-font-weight: 400;
    --mobile-text-preset-1-letter-spacing: 0px;
    --mobile-text-preset-1-line-height: normal;
    --mobile-text-preset-2-font-family: "Bellefair", Helvetica;
    --mobile-text-preset-2-font-size: 56px;
    --mobile-text-preset-2-font-style: normal;
    --mobile-text-preset-2-font-weight: 400;
    --mobile-text-preset-2-letter-spacing: 0px;
    --mobile-text-preset-2-line-height: normal;
    --mobile-text-preset-3-font-family: "Bellefair", Helvetica;
    --mobile-text-preset-3-font-size: 24px;
    --mobile-text-preset-3-font-style: normal;
    --mobile-text-preset-3-font-weight: 400;
    --mobile-text-preset-3-letter-spacing: 0px;
    --mobile-text-preset-3-line-height: normal;
    --mobile-text-preset-4-font-family: "Bellefair", Helvetica;
    --mobile-text-preset-4-font-size: 18px;
    --mobile-text-preset-4-font-style: normal;
    --mobile-text-preset-4-font-weight: 400;
    --mobile-text-preset-4-letter-spacing: 0px;
    --mobile-text-preset-4-line-height: normal;
    --mobile-text-preset-6-font-family: "Barlow Condensed", Helvetica;
    --mobile-text-preset-6-font-size: 16px;
    --mobile-text-preset-6-font-style: normal;
    --mobile-text-preset-6-font-weight: 400;
    --mobile-text-preset-6-letter-spacing: 2.4px;
    --mobile-text-preset-6-line-height: normal;
    --mobile-text-preset-8-font-family: "Barlow Condensed", Helvetica;
    --mobile-text-preset-8-font-size: 14px;
    --mobile-text-preset-8-font-style: normal;
    --mobile-text-preset-8-font-weight: 400;
    --mobile-text-preset-8-letter-spacing: 2.1px;
    --mobile-text-preset-8-line-height: normal;
    --mobile-text-preset-9-font-family: "Barlow", Helvetica;
    --mobile-text-preset-9-font-size: 15px;
    --mobile-text-preset-9-font-style: normal;
    --mobile-text-preset-9-font-weight: 400;
    --mobile-text-preset-9-letter-spacing: 0px;
    --mobile-text-preset-9-line-height: 179.99999523162842%;
    --tablet-text-preset-2-font-family: "Bellefair", Helvetica;
    --tablet-text-preset-2-font-size: 80px;
    --tablet-text-preset-2-font-style: normal;
    --tablet-text-preset-2-font-weight: 400;
    --tablet-text-preset-2-letter-spacing: 0px;
    --tablet-text-preset-2-line-height: normal;
    --tablet-text-preset-3-font-family: "Bellefair", Helvetica;
    --tablet-text-preset-3-font-size: 40px;
    --tablet-text-preset-3-font-style: normal;
    --tablet-text-preset-3-font-weight: 400;
    --tablet-text-preset-3-letter-spacing: 0px;
    --tablet-text-preset-3-line-height: normal;
    --tablet-text-preset-4-font-family: "Bellefair", Helvetica;
    --tablet-text-preset-4-font-size: 24px;
    --tablet-text-preset-4-font-style: normal;
    --tablet-text-preset-4-font-weight: 400;
    --tablet-text-preset-4-letter-spacing: 0px;
    --tablet-text-preset-4-line-height: normal;
    --tablet-text-preset-5-font-family: "Barlow Condensed", Helvetica;
    --tablet-text-preset-5-font-size: 20px;
    --tablet-text-preset-5-font-style: normal;
    --tablet-text-preset-5-font-weight: 400;
    --tablet-text-preset-5-letter-spacing: 3px;
    --tablet-text-preset-5-line-height: normal;
    --tablet-text-preset-9-font-family: "Barlow", Helvetica;
    --tablet-text-preset-9-font-size: 16px;
    --tablet-text-preset-9-font-style: normal;
    --tablet-text-preset-9-font-weight: 400;
    --tablet-text-preset-9-letter-spacing: 0px;
    --tablet-text-preset-9-line-height: 179.99999523162842%;
    --variable-collection-color-blue-300: rgba(208, 214, 249, 1);
    --variable-collection-color-blue-900: rgba(11, 13, 23, 1);
    --variable-collection-color-white: rgba(255, 255, 255, 1);
    --variable-collection-font-size-desktop-text-preset-1: 144px;
    --variable-collection-font-size-desktop-text-preset-2: 96px;
    --variable-collection-font-size-desktop-text-preset-3: 56px;
    --variable-collection-font-size-desktop-text-preset-4: 32px;
    --variable-collection-font-size-desktop-text-preset-5: 28px;
    --variable-collection-font-size-desktop-text-preset-6: 28px;
    --variable-collection-font-size-desktop-text-preset-7: 14px;
    --variable-collection-font-size-desktop-text-preset-8: 16px;
    --variable-collection-font-size-desktop-text-preset-9: 18px;
    --variable-collection-font-size-mobile-text-preset-1: 80px;
    --variable-collection-font-size-mobile-text-preset-2: 56px;
    --variable-collection-font-size-mobile-text-preset-3: 24px;
    --variable-collection-font-size-mobile-text-preset-4: 18px;
    --variable-collection-font-size-mobile-text-preset-6: 16px;
    --variable-collection-font-size-mobile-text-preset-8: 14px;
    --variable-collection-font-size-mobile-text-preset-9: 15px;
    --variable-collection-font-size-tablet-text-preset-2: 80px;
    --variable-collection-font-size-tablet-text-preset-3: 40px;
    --variable-collection-font-size-tablet-text-preset-4: 24px;
    --variable-collection-font-size-tablet-text-preset-5: 20px;
    --variable-collection-font-size-tablet-text-preset-9: 16px;
    --variable-collection-spacing-100: 8px;
    --variable-collection-spacing-1000: 80px;
    --variable-collection-spacing-1200: 96px;
    --variable-collection-spacing-150: 12px;
    --variable-collection-spacing-1600: 128px;
    --variable-collection-spacing-200: 16px;
    --variable-collection-spacing-25: 2px;
    --variable-collection-spacing-300: 24px;
    --variable-collection-spacing-400: 32px;
    --variable-collection-spacing-50: 4px;
    --variable-collection-spacing-500: 40px;
    --variable-collection-spacing-600: 48px;
    --variable-collection-spacing-800: 64px;
  }
  