.ExploreButton{
    background-color:var(--white);
    height: 144px;
    width: 144px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-top: 119px;
}

.ExploreButton span{
    font-family:var(--font-bellefair);
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--blue-900);
}

.ExploreButton:hover{
    box-shadow: 0 0 0 44px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s ease;
}