.NavbarDesktop{
    height: 136px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.NavbarDesktoplogo{
    width: 48px;
    height: 48px;
}

.BarDesktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* .BraDesktop_box{

} */

.BarDesktop_number{
color: var(--white);
}